
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(35, 53, 63);
}
.container {
  width: 300px;
  background: rgb(35, 53, 63);
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.5); 
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}
button {
  width: 100%;
  padding: 10px;
  background: transparent;
  color: #19A2B8;
  border: 1px solid #19A2B8;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: #19A2B8;
  color: white;
}
.error {
  color: red;
  font-size: 14px;
}